@font-face {
    font-family: 'Commit Mono';
    src: url('/fonts/CommitMonoVariableFont.woff2') format('woff2');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

body {
    font-family: 'Commit Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    background-color: #c0c0c0;
    color: #333;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

/* Paragraphs */
p {
    max-width: 50ch;
    margin: 1rem auto;
    text-align: left;
}

/* Code Blocks */
code,
pre {
    font-family: 'Commit Mono', monospace;
    font-weight: 400;
    background-color: #c0c0c0;

    /* Slightly darker gray background */
    padding: 0.25em 0.5em;
    border-radius: 4px;
}

/* Links */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #06c;
    text-decoration: none;
}

/* Lists */
ul,
ol {
    margin: 0 0 1rem 1.5rem;
    padding: 0;
}

* {
    box-sizing: border-box
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
