---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="aboutme.jpg">
    <p>
        I am a Junior at Brown University studying Computer Science. 
        My chief interests are in communication systems,
        computer networks, privacy in the age of mass data collection, and
        esoteric happenings. My main time sink outside of academics is Brown
        Space Engineering, which I currently co-lead with Milan Capoor. 
        I've done some hackin on Binary Ninja, mostly improving decompilation
        accuracy and UI/UX.

        I've got some cool networking projects in the works! More to come!
    </p>
</BaseLayout>
