---
import Layout from "../layouts/Layout.astro";
import InlineMarkdown from "../components/InlineMarkdown.jsx";
---

<Layout pageTitle="About Alex">
	<p>
		I am a second year student at Brown University studying Computer Science
		and Physics.
	</p>
	<p>
		Many things fascinate me, but I'm chiefly concerned with low-level
		systems, physical simulation, spaceflight, retro technology (fixing Tech
		House's Macintosh), mutual aid initiatives, and critically evaluating
		if/how technology actually helps people.
	</p>
	<p>
		In my free time, I frequently play music (guitar, bass, sing),
		draw/paint (favorite medium is graphite, favorite subject is people in
		coffee shops), read and write about what I read, and play story-driven
		video games.
	</p>
	<p>
		Recreational learning is a large part of who I am, so I tend to always
		be teaching myself something in my free time. Currently (updated
		12/27/2024), I am re-teaching myself some concepts from multivariable
		calculus, trying to obtain a HAM radio license, and learning about
		lattice-based cryptography.
	</p>
	<p>
		This is a paragraph with
		<InlineMarkdown
			client:load
			text="highlighted text"
			markdown="<h3>Markdown Content</h3><p>This is some <strong>markdown</strong> content.</p>"
		/>
		inline.
	</p>
</Layout>
