---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="aboutme.jpg"
>
  <p>
    I am a rising Junior at Brown University studying Computer Science and
    (tentatively) physics. My chief interests are in low-level systems, physical
    simulation, privacy in the age of mass data collection, and esoteric happenings.
    As of May 28th, 2025, I am also an intern at Vector 35
    working on <a href="https://binary.ninja/" target="_blank" rel="noopener noreferrer">Binary Ninja!</a>
  </p>
  <p>
    In my free time, I play music (guitar, bass, singing), draw/paint (favorite
    medium is graphite, favorite subject is people in coffee shops), half-finish
    novels, tinker with old computers, and play story-driven video games.
  </p>
  <p>
    I strongly believe in recreational learning, so I'm usually teaching myself some new skill in my free time.
    As of late, I've been learning more about frontend development (a skill I've long neglected), reverse engineering,
    and woodworking.
  </p>
</BaseLayout>
