---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="aboutme.jpg">
    <p>
        I am a rising Junior at Brown University studying Computer Science and
        (tentatively) physics. My chief interests are in low-level systems,
        physical simulation, privacy in the age of mass data collection, and
        esoteric happenings. As of May 28th, 2025, I am also an intern at Vector
        35 working on <a
            href="https://binary.ninja/"
            target="_blank"
            rel="noopener noreferrer">Binary Ninja!</a
        >
    </p>
</BaseLayout>
