---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Blog">
	<p>
		Blog posts will go here when I write them. "Soon" is a dangerous game I refuse to play, so I'll just say "sometime!"
	</p>
</Layout> 
