---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact Me">
    <p>
        I sparingly check <b>khosrowshahialexander [at] gmail [dot] com</b>. If
        you need more urgent contact, find me, or something.
    </p>
</BaseLayout>
