---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Curiosities">
	<p>
		The internet is a beautiful little place. Here are my attempts to organize and share some of my favorite corners of it!
	</p>
</Layout>
