---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import curls from "../assets/images/curls.png";
---

<BaseLayout pageTitle="ALEX KHOSROWSHAHI" decorTitle="">
    <Image
        src={curls}
        class="curls"
        loading="eager"
        alt="A distorted portrait of a young, curly-haired kid, AKA me."
    />
    <p>
        This is the personal website of Alex Khosrowshahi, a third-year
        Computer Science student at Brown University. On most
        tech-related sites, I go by the username <b>spoonmilk</b>.
    </p>

    <style>
        .curls {
            width: 100%;
            height: auto;
            max-width: 400px;
            display: block;
            margin: 0 auto;
            border-radius: 8px;
        }
    </style>
</BaseLayout>
