---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import curls from "../images/curls.png";
---

<BaseLayout pageTitle="ALEX KHOSROWSHAHI" decorTitle="">
    <img
        src={curls.src}
        class="curls"
        alt="A distorted portrait of a young, curly-haired kid, AKA me."
    />
    <p>
        This is the personal website of Alex Khosrowshahi, a second-year
        Computer Science/Physics student at Brown University. On most
        tech-related sites, I go by the username <mark>spoonmilk</mark>.
    </p>
</BaseLayout>

<style>
    .curls {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
        border-radius: 8px;
    }
</style>
