---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Alex Khosrowshahi">
	<p>
		This is the personal website of Alex Khosrowshahi, a second-year
		Computer Science/Physics student at Brown University. On most tech
		sites, I go by the username spoonmilk.
	</p>
	<p>
		<a href="mailto:alexander_khosrowshahi@brown.edu?">Reach me by email</a>
	</p>
</Layout>
