---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="LITR0110H Digital Journal">
  <p>
    <blockquote>
        This is a place where I will put my digital journal for LITR0110H
    </blockquote>
      </p>
</BaseLayout>
