---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Loves">
  <p>
    <blockquote>
      Summer will come again, with or without me. <br /> And I will do it right.
      <br /> Should I live to see another of these fleeted seasons, <br /> I will
      live it well <br /> and with truth to my ancient wishes
    </blockquote>
    - Tim Rogers

    <br />
    <br />
    I intend for this page to be a collection of things I love, things that teach
    shapes of what I seek in life. But I have yet to fill it with anything. Expect
    things to come here in the future, and for the page to extend with content in
    a stream-of-consciousness fashion.
  </p>
</BaseLayout>
