---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Now">
    <p>
        I'm finishing up my Junior Fall at Brown University.
        Doing lots of work on networking DSLs and eBPF, how fun!
    </p>
    </BaseLayout>
