---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Projects and Doings">
    <p>
        This page is where I'll be documenting my immensely interesting and
        impressive projects. For now, you can just take my word for it.
    </p>
</BaseLayout>
