---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Projects">
	<p>
		I'm a little too lazy to add my projects here at the present time, but try your best to trust that they are compelling and numerous.
	</p>
</Layout>
