---
import SubNavItem from "../components/SubNavItem.astro";
const { items = [], blogs = [] } = Astro.props;
---

<div class="decoration-sidebar">
    <h3>From around my desk</h3>
    <ul>
        {items.map(item => <SubNavItem {...item} />)}
    </ul>
    <h3>Friends on the web</h3>
    <ul>
        {blogs.map(blog => <SubNavItem {...blog} />)}
    </ul>
</div>

<style>
    .decoration-sidebar {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>