---

---

<footer>
    <div class="footer-container flex justify-between items-center p-4">
        <nav>
            <a href=`https://www.github.com/spoonmilk` target="_blank"
                >#11 GitHub</a
            >
            <a
                href="https://www.linkedin.com/in/alexander-khosrowshahi-17a909298/"
                target="_blank">#12 LinkedIn</a
            >
        </nav>
    </div>
</footer>
