---

---

<footer>
    <div class="max-w-screen-xl mx-auto flex justify-between items-center p-4">
        <a href=`https://www.github.com/spoonmilk` target="_blank">#11 GitHub</a
        >
        <a
            href="https://www.linkedin.com/in/alexander-khosrowshahi-17a909298/"
            target="_blank">#12 LinkedIn</a
        >
    </div>
</footer>

<style>
    footer {
        position: fixed;
        display: flex;
        gap: 1.5rem;
        bottom: 0;
        left: 0;
        padding: 1rem;
        width: 100%;
        background-color: #c0c0c0;
        z-index: 20;
    }
</style>
