---
const links = [
    { href: "https://www.github.com/spoonmilk", platform: "#11 GitHub" },
    {
        href: "https://www.linkedin.com/in/alexander-khosrowshahi-17a909298/",
        platform: "#12 LinkedIn",
    },
    {
        href: "/wip/", platform: "#13 RSS"
    }
];
---

<footer>
    <div class="footer-container flex justify-between items-center p-4">
        <nav>
            {links.map((link) => <a href={link.href}>{link.platform}</a>)}
        </nav>
    </div>
</footer>
