---
import Navigation from "./Navigation.astro";
---

<header class="w-full bg-[#c0c0c0] text-sm overflow-x">
    <div class="header-container flex justify-between items-center p-4">
        <Navigation />
    </div>
</header>
