---
const { username, name } = Astro.props;
import Navigation from "./Navigation.astro";
---

<header class="w-full bg-gray-100 text-sm font-mono">
    <div class="max-w-screen-xl mx-auto flex justify-between items-center p-4">
        <!-- Navigation Menu -->
        <Navigation />
    </div>
</header>
