---

---

<div class="nav-links">
    <nav>
        <a href="/">#01 Home </a>
        <a href="/about/">#02 About </a>
        <a href="/projects/">#03 Projects </a>
        <a href="/blog/">#04 Blog </a>
        <a href="/cool/">#05 Curiosities</a>
    </nav>
</div>

<style>
    nav {
        display: flex;
        gap: 1.5rem; /* Add spacing between links */
    }

    .nav-links {
        padding-bottom: 0.5rem;
    }
</style>
