---

---

<div class="nav-links">
    <nav>
        <a href="/">#01 Home </a>
        <a href="/about/">#02 About </a>
        <a href="/wip/">#03 Projects </a>
        <a href="/wip/">#04 Blog </a>
        <a href="/wip/">#05 Curiosities</a>
    </nav>
</div>

<style>
    nav {
        display: flex;
        gap: 1.5rem;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .nav-links {
        overflow-x: auto;
        display: block;
        padding-bottom: 0.5rem;
        scrollbar-width: none;
    }
</style>
