---
const links = [
    { href: "/", label: "#01 Home" },
    { href: "/about/", label: "#02 About" },
    { href: "/wip/", label: "#03 Projects" },
    { href: "/wip/", label: "#04 Blog" },
    { href: "/wip/", label: "#05 Curiosities" },
];

const currentPath = Astro.url.pathname;
---

<div class="nav-links">
    <nav>
        {
            links.map((link) => (
                <a
                    href={link.href}
                    class={currentPath === link.href ? "active" : ""}
                >
                    {link.label}
                </a>
            ))
        }
    </nav>
</div>

<style>
    a.active {
        font-weight: bold;
        text-decoration: underline;
    }
</style>
